.nav {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  list-style-type: none;
}

.nav__disabled {
  display: none;
}

.nav__main_link {
  margin: 0 0 0 14px;
  padding: 0;

  font-size: 10px;
  font-weight: 500;
  line-height: 1.6;
  color: #000000;
  text-decoration: none;
}

.nav__main_signin {
  padding: 5px 12px;

  color: #ffffff;
  background-color: #000000;
  border-radius: 3px;
}

.nav__login_blackout {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;

  min-width: 100%;
  min-height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.nav__img-menu {
  cursor: pointer;
}

.nav__login_sidebar {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;

  margin: 0;
  padding: 0;

  height: 100%;
  min-width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 166px repeat(2, 22px) auto;
  align-items: center;
  justify-items: center;
  grid-row-gap: 22px;


  background-color: #ffffff;
  list-style-type: none;
}

.sidebar__img-cross {
  position: absolute;
  z-index: 2;
  top: 18px;
  right: 18px;

  margin: 0;
  padding: 0;

  width: 30px;
  height: 30px;

  cursor: pointer;
}

.sidebar__link {
  margin: 0;
  padding: 0 0 4px;

  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  text-decoration: none;
}

.sidebar__link_active {
  border-bottom: 2px #000000 solid;
}

.sidebar__main {
  align-self: end;
}

.sidebar__account {
  margin-bottom: 47px;

  align-self: end;

  display: flex;
  align-items: center;
}

.account__link {
  margin: 0;
  padding: 0;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  color: #000000;
  text-decoration: none;
}

.account__img {
  margin: 0 0 0 17px;
  padding: 8px 7.5px;

  width: 11.5px;
  height: 14px;

  border-radius: 4px;
  background-color: #F9F9F9;
}

@media screen and (min-width: 768px) {
  .nav__img-cross {
    position: absolute;
    top: 22px;
    right: 22px;
  }

  .nav__main_text {
    margin: 0 0 0 30px;
    font-size: 12px;
    line-height: 1.3;
  }

  .nav__main_signin {
    padding: 8px 20px;
  }

  .nav__login_sidebar {
    min-width: 580px;
    grid-template-columns: 1fr;
    grid-template-rows: 181px repeat(2, 22px) auto;
    grid-row-gap: 28px;
  }

  .sidebar__account {
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 1280px) {

  .nav__img-menu {
    display: none;
  }

  .sidebar__img-cross {
    display: none;
  }

  .nav__login_blackout {
    position: relative;
    height: 74px;
    background-color: rgba(0, 0, 0, 0);
  }

  .nav__login_sidebar {
    position: relative;

    height: 74px;
    min-width: auto;

    grid-template-columns: repeat(2, max-content) 130px;
    grid-template-rows: 74px;
    grid-column-gap: 20px;
    align-items: center;
    justify-items: center;
    justify-content: end;

    background-color: transparent;
  }

  .sidebar__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
  }

  .sidebar__link_active {
    font-weight: 500;
    border-bottom: none;
  }

  .sidebar__main {
    display: none;
  }

  .sidebar__account {
    margin: 0 0 0 30px;

    align-self: center;
  }
}