.card-list {
  margin: 0;
  padding: 40px 10px 26px;
}

.cards {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: auto;
  justify-content: center;
  gap: 14px;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.card-list__disabled {
  display: none;
}

.card-list__btn {
  margin: 76px auto 54px;
  padding: 0;

  width: 240px;
  height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #000000;
  background: #F9F9F9;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

.card-list__btn:hover {
  border: 1.5px solid #F9F9F9;
  background: #ffffff;
}

@media screen and (min-width: 768px) {
  .card-list {
    padding: 70px 30px 30px;
  }

  .cards {
    grid-template-columns: repeat(2, max-content);
    gap: 30px;
  }

  .card-list__btn {
    margin: 80px auto 50px;
  }
}

@media screen and (min-width: 1280px) {
  .card-list {
    padding: 70px 70px 10px;
  }

  .cards {
    grid-template-columns: repeat(3, max-content);
    gap: 37px 24px;
  }

  .card-list__btn {
    margin: 60px auto 70px;
  }
}