.header {
  margin: 0 auto;
  padding: 0 14px;

  height: 74px;

  display: grid;
  grid-template-columns: 38px auto;
  align-items: center;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.header__logo {
  margin: 0;
  padding: 0;

  width: 38px;
  height: 38px;
}

.background-pink:before {
  content: "";
  background-color: #F3C1F8;
  position: absolute;
  height: 74px;
  width: 40000px;
  left: -2000px;
  z-index: -1;
}


@media screen and (min-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 0 70px;
  }
}